body {
  background: lightblue;
}

.content {
  margin: 0 auto;
  margin-top: 150px;
  padding: 20px;
  max-width: 600px;
  background-color: whitesmoke;
  border: 1px;
}
.current-weather {
  margin-top: 20px;
}

.weather-temperature img {
  max-width: 55px;
}

.weather-temperature strong {
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
}

.current-temperature-display {
  margin-top: 10px;
}

.units {
  position: relative;
  top: -20px;
}

.units .active {
  color: black;
  cursor: none;
}

.units .active:hover {
  text-decoration: none;
}

.weather-details ul {
  list-style: none;
}

.netlify-link {
  position: relative;
  left: 258px;
}
